{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="left">Abrir/Fechar portas:</h1>

<style>
	.right-container {
		display: flex;
		justify-content: flex-end;
	}

	.item-list {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.item-list li {
		margin: 5px 0;
	}
</style>
</head>




<form method="POST">
	<div id="parameters-section">


		<div class="right-container">
			<div>
				<h1>Lista de pedidos</h1>
				<ul class="item-list">
					{% for chave, valores in dicionario.items() %}
					<li>
						<strong>Pedido nº {{ chave }}:</strong>
						<ul>
							<li>Protocolo: {{ valores[0] }}</li>
							<li>Porta interna do container: {{ valores[1] }}</li>
							<li>IP interno do container: {{ valores[2] }}</li>
						</ul>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>



		<br><br>
		<label for="Action">Ação:</label>
		<select id="action" name="action">
			<option value="openPort">Open Port</option>
			<option value="ClosePort">Close Port</option>
			<option value="AddNat">Add Nat</option>
			<option value="RemoveNat">Remove Nat</option>
		</select>
		<br><br>
		<label for="w">FireWall:</label>
		<select id="fw" name="fw">
			<option value="ipt">IpTables</option>
			<option value="nft">Nftables</option>
			<option value="lxdforward">LXD Forward</option>
			<option value="lxdapi">LXD API</option>
		</select>
		<br><br>
		<label for="Protocol">Protocolo:</label>
		<select id="protocol" name="protocol">
			<option value="tcp">TCP</option>
			<option value="udp">UDP</option>
		</select>
		<br><br>
		<label for="ext_Port">Porta externa:</label>
		<input type="text" id="ent_port" name="ext_port" required>
		<br><br>
		<label for="Int_port">Porta interna do container:</label>
		<input type="text" id="int_port" name="int_port" required>
		<br><br>
		<label for="Int_IP">IP interno do container:</label>
		<input type="text" id="int_ip" name="int_ip"
			pattern="^(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]?[0-9])(\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]?[0-9])){3}$"
			required>
		<br><br>
		<button type="submit" id="dados" class="btn btn-primary">Enviar Dados</button>
	</div>
</form>


<script>
	function validateForm() {
		const action = document.getElementById("action").value;
		const fw = document.getElementById("fw").value;
		const protocol = document.getElementById("protocol").value;
		const extPort = document.getElementById("ext_port").value;
		const intPort = document.getElementById("int_port").value;
		const intIp = document.getElementById("int_ip").value;

		if (!action || !fw || !protocol || !extPort || !intPort || !intIp) {
			alert("Todos os campos devem ser preenchidos!");
			return false;
		}

		const ipPattern = /^(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]?[0-9])(\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]?[0-9])){3}$/;
		if (!ipPattern.test(intIp)) {
			alert("Por favor, insira um endereço IP válido.");
			return false;
		}

		return true;
	}
</script>

{% endblock %}